body{
  font-family: arial, sans-serif;
}

.the-top{
  background-color: grey;
  height: auto;
  width: 100%;
}

#logo{
  height: 150px;
  width: auto;
  margin-top: 25px;
  margin-left: 25px;
  display: inline-block;
}

#search{
  display: none;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
  margin-top: 10px;
  margin-right: 25px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 116px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show{
  display: block;
}

.the-middle{
  padding-top: 10px;
  padding-bottom: 10px;
}

.the-bottom{
  border-top: solid;
  border-width: medium;
  border color: purple;
  background-color: lightblue;
  height: auto;
  width: 100%;
}
